Makefile
Makefile.pre
Misc/python.pc
Modules/_testembed
Modules/config.c
Parser/pgen
config.status
confdefs.h
conftest
conftest.h
conftest.c
conftest.erl
conftest.err
confdefs.c
pybuilddir.txt
pyconfig.h
python
python-config*
python-gdb.py
python.exe*
